body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('images/ombre.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}

header {
    background-color: rgba(75, 61, 114, 0.9); /* Transparent effect */
    text-align: center;
    padding: 1px;
}

header h1 {
    font-size: 2.5em;
    font-family: 'Cursive', sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
}

.image-container {
    text-align: center;
    margin: 10px 0;
}

.image-container img {
    max-width: 57%;
    height: auto;
    border-radius: 10px;
}

main {
    flex: 3;
    padding: 20px;
}

/* Sidebar Styling */
aside.about-us {
    position: fixed;
    right: 0;
    flex: 1;
    background-color: rgba(59, 42, 90, 0.9); /* Semi-transparent */
    padding: 20px;
    height: 100vh;
    position: sticky;
    top: 0;
    overflow-y: auto;
}

.purpose-github {
    display: flex;
    flex-direction: row;
}

.purpose {
    margin-bottom: 2rem;
    margin-left: 1rem;
}

h2 {
    font-size: 20px;
    margin-bottom: 1rem;
}

/* Links */
a {
    color: #A3D9F3;
    text-decoration: none;
}

/* General image container for main logo in Purpose section */
.purpose-github .image-container img {
    max-width: 100%;
    border-radius: 15px;
    margin-right: 330px;
}

footer {
    background-color: #4b3d72;
    text-align: center;
    padding: 2px;
    position: relative;
    bottom: 0;
    width: 100%;
}